:root {
  --primary-white-color: #fff;
  --primary-dark-color: #303030;
  --accent-color: #ff6c00;

  --head-details-color: #9da4bd99;
  --head-text-color: #9da4bd;
  --slider-overlay-color: #191c2633;

  --about-text-color: #555555;
}
