.benefits {
  display: flex;
  flex-wrap: wrap;
  align-items: flex-start;

  &__item {
    text-align: center;
    min-height: 133px;
    width: 194px;
    background-color: getBgColor(light);

    padding: 20px 32px;

    &:nth-child(2n) {
      margin-top: 30px;
      margin-left: 30px;
    }
  }

  &__count {
    position: relative;
    font-weight: 700;
    font-size: 42px;
    line-height: 1.36;
    letter-spacing: 0.05em;

    &::after {
      position: absolute;
      content: '+';
      top: 6px;
      right: -15px;
      font-weight: 600;
      font-size: 16px;
      line-height: 1.38;
      color: getColor(accent);
    }
  }

  &__title {
    display: block;
    font-weight: 600;
    font-size: 11px;
    line-height: 1.36;
  }
}
