.hero {
  background-color: getColor(primary-dark);
  @include respond-to(max-mobile) {
    padding-top: 69px;
    padding-bottom: 209px;
  }

  &__title {
    @include respond-to(max-mobile) {
      font-family: getFont(secondary);
      font-size: 48px;
      line-height: 1.17;
      letter-spacing: 0.05em;
      color: getColor(primary-white);
      margin-bottom: 20px;
    }
  }

  &__description {
    @include respond-to(max-mobile) {
      font-size: 16px;
      line-height: 1.62;
      letter-spacing: 0.02em;
      max-width: 336px;
      color: getColor(hero-descript);
    }
  }
}
