.price {
  background-color: getBgColor(overlay);
  background-size: cover;
  background-repeat: no-repeat;
  background-position: center;

  @include respond-to(max-mobile) {
    background-image: url('../images/mobile/bg/prices-480.png');

    @include respond-to(retina) {
      background-image: url('../images/mobile/bg/prices-480@2x.png');
    }
  }

  @include respond-to(tablet) {
    background-image: url('../images/tablet/bg/prices-768.png');

    @include respond-to(retina) {
      background-image: url('../images/tablet/bg/prices-768@2x.png');
    }
  }

  @include respond-to(desktop) {
    background-image: url('../images/desktop/bg/prices-1600.png');

    @include respond-to(retina) {
      background-image: url('../images/desktop/bg/prices-1600@2x.png');
    }
  }

  &__title {
    @include respond-to(max-mobile) {
      font-family: getFont(secondary);
      font-style: normal;
      font-weight: 700;
      font-size: 40px;
      line-height: 1.18;

      letter-spacing: 0.05em;
      color: getColor(primary-white);

      margin-bottom: 44px;
    }
  }

  &__container {
    @include respond-to(max-mobile) {
      background: getBgColor(gradient-1);
      padding: 30px 20px 30px 40px;

      font-size: 14px;
      line-height: 1.43;

      letter-spacing: 0.02em;

      margin-bottom: 44px;
    }
  }

  &__item {
    display: flex;
    align-items: baseline;
    gap: 12px;
    color: getColor(hero-descript);

    &::before {
      content: '';
      flex-grow: 1;
      height: 1px;
      background-color: getBgColor(price-decoration);
    }
  }

  &__service {
    order: -1;
  }

  &__item:not(:last-child) {
    margin-bottom: 20px;
  }

  &__services:not(:last-child) {
    margin-bottom: 20px;
  }

  &__name,
  &__value {
    margin-bottom: 20px;
  }
}
