body {
  font-family: getFont(main);
  color: getColor(primary-dark);
  background-color: getColor(primary-white);
}

.scroll-hidden {
  overflow: hidden;
  .menu {
    overflow-y: scroll;
  }
}

h1,
h2,
h3,
p {
  margin: 0;
}

img {
  display: block;
  max-width: 100%;
  height: auto;
}

ul {
  padding: 0;
  margin: 0;
  list-style: none;
}

a {
  display: inline-block;
  text-decoration: none;
  color: getColor(primary-dark);
}

button {
  font-family: inherit;
  cursor: pointer;
}

.section {
  padding-top: 84px;
  padding-bottom: 84px;
}
